<div class="container-global">
    <h3>Global Stats</h3>
    <div *ngIf="globalResult == null; else displayResults ">Loading...</div>
    <ng-template #displayResults>
        <p>Total Confirmed</p>
        <p class="globalCases">{{globalResult.cases}}</p>
        <p>Total Deaths</p>
        <p class="globalDeaths">{{globalResult.deaths}}</p>
        <p>Total Recovered</p>
        <p class="globalRecovered">{{globalResult.recovered}}</p>
        <div>
            <p>Last Updated:</p>
            <p>{{globalResult.updated | date:'short'}}</p>
        </div>
    </ng-template>    
</div>